<!-- uncomment this bg-image code save it then video bg works then after working again gets comment it   -->
<div class="bg-image"></div>

<!-- write "muted" after "loop" in video tag then after run the app  -->
<!-- <div class="container"> -->
<!-- <video autoplay loop muted>
      <source src="../../assets/video.mp4" type="video/mp4">
  </video>
  
  <div class="text-box">
      <h1>ALIVIO</h1>
  </div> -->
<!-- </div> -->
<app-best-seller></app-best-seller>
<app-interior></app-interior>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo"> <mat-icon>storefront</mat-icon> Alivio </a>
    <ul>
      <li><a (click)="loginAction()">Login</a></li>
      <li><a (click)="signupAction()">Signup</a></li>
      <li><a (click)="forgotPasswordAction()">Forgot Password</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <a href="#"><b>CALL :</b> +91 9876543210</a>
  <br />
  <b>EMAIL :</b> infoalivio.com <br /><br />
  <h1><b>Opening Hours</b></h1>
  <div class="w3-row">
    <p>Monday-Saturday</p>
    <p>10.00 a.m - 10.00 p.m</p>
  </div>
  <p>Copyright by Alivio - 2023 | Design &amp; Developed By Khushboo Makhija</p>
  <h2>All rights reserved Alivio</h2>
</div>
