<section class="elegant-sec">
    <div class="elegant-interior">

        <div class="section-title">

            <h1 class="title-center">Elegant Interior</h1>

            <img class="img-fluid wow fadeInUp  animated" data-wow-delay=".75s" src="./801 Web_files/title-top.png" alt="" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">

        </div>

        <div>

            <img class="img-fluid img-expand" src="../../assets/img/801-1.png" alt="" style="display: inline-block; width: 20%;">

            <img class="img-fluid img-expand" src="../../assets/img/801-2.png" alt="" style="display: inline-block; width: 20%;">

            <img class="img-fluid img-expand" src="../../assets/img/801-3.png" alt="" style="display: inline-block; width: 20%;">

            <img class="img-fluid img-expand" src="../../assets/img/801-4.png" alt="" style="display: inline-block; width: 20%;">

            <img class="img-fluid img-expand" src="../../assets/img/801-5.png" alt="" style="display: inline-block; width: 20%;">

        </div>

    </div> 

</section>






  
    