.mat-toolbar{
    margin: 24px;
    width: auto;
    margin-bottom: 10px;
    // background-color: rgb(215, 229, 230);
    // background-color: rosybrown;
}

.title-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-form-field{
    padding: 5px;
    width: 100%;
}

mat-hint{
    color: #8d6e63;
}
